h1, h2, h3, h4, h5, h6, p, body, ul, li {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

.wrapper {
    max-width: 1500px;
    width: 85%;
    margin: 0 auto;

    @include forPhone {
        width: 95%;
    }

    @include forSmallPhone {
        width: 100%;
    }
}