header {
    height:100vh;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../assets/circle3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    animation: slide 2s linear infinite;

    @keyframes slide {
        from{
            top: 0;
        }

        to {
            top: 20%;
        }
        
    }

    h1 {
        text-align: center;
        font-size: 8rem;
        font-family: 'Montserrat', cursive;

        @include forPhone {
            font-size: 6rem;
        }
    }

    h3 {
        text-align: center;
        
    }
}

.fas.fa-bars {
    z-index: 2;
    display: none;
}

input[type="checkbox"] {
    display: none;
}

// button: + .sidebar nav {
//     right: 0;
//     display: block;
//     z-index: 1;
//     transition: all 1s ease;
// }

button {
    display: none;
    border: none;
    right: 0;
    position: fixed;
    background: inherit;
    padding:0px;
    
    @include forPhone {
        display: block;
        .fa-times {
            display: none;
        };
    }

    .fa-times {
        display: none;
    }
    
}


nav {
    color: $navyBackground;
    // position: absolute;
    position: fixed;
    width: 100%;
    right: 0;
    background: $primaryPink;
    z-index: 1000;

    @include forPhone {
        display: none;
    }

    ul {
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        height: 10vh;

        li {
            padding: 15px 10px;

            &:hover {
                background: $navyBackground;
                color: $primaryPink;  
                border-radius: 5px; 
            }

            a {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
}

.headerContainer {
    // background: linear-gradient(rgba(118, 116, 116, 0.5), rgba(155, 155, 155, 0.5));
    // background: $navyBackground;
    background: linear-gradient(rgba(255,255, 255, 0.5), rgba(255,255,255,0.5));
    // width: 50%;
    color: $navyBackground;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    position:absolute;
    top:35%;
    left:0;
    right:0;
    margin: 0 auto;
    // border-radius: 10px;
    padding: 10px;

    h4 {
        font-family: "Playfair Display", cursive;
    }
}

.fas.fa-bars {
    color: $primaryPink;
    position: absolute;
    font-size: 5rem;
    top:0;
    right:0;
    z-index: 1;
    position: fixed;
    @include forPhone {
        display: block;
    }
}