header {
    // background: url(../assets/header.jpg);
    height:100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    position: relative;


    h1 {
        text-align: center;
        font-size: 8rem;
        font-family: 'Lobster', cursive;
    }

    h3 {
        text-align: center;
        
    }
}

nav {
    align-self: flex-start;
    width: 100%;
    background: black;
    color: white;
    position: fixed;

    ul {
        display: flex;
        justify-content: flex-end;

        li {
            padding: 10px;

            &:hover {
                background: $primaryPink;   
            }
        }
    }
}

.headerContainer {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
    width: 100%;
    align-self: center;
    justify-self: center;
    position:absolute;
    top:35%;
    left:0;
    right:0;
    bottom: 0;
}

.wave {
    display: inline-block;
    animation: wave 2s linear 5;
}

@keyframes wave {
    from {
        transform: none;
    }

    to {
        transform: rotate(45deg);
    }
}