.aboutSection {
    display: flex;

    @include forSmallTablet {
        flex-wrap: wrap;
    }

    img {
        border-radius: 50%;
    }

    .aboutImage {
        width: 50%;
        padding: 5%;

        @include forSmallTablet {
            width: 100%;
        }
    }

    .aboutText {
        width: 50%;
        padding: 5%;

        @include forSmallTablet {
            width: 100%;
        }
    }
}

.about.wrapper {

    display: flex;
    flex-direction: column;
    align-items: center;
    h2::after {
        background: $primaryPink;
    }
}

.projects.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2, h3 {
    position: relative;
    display: inline-block;
    font-family: 'Playfair Display', serif;
    text-transform: lowercase;;
    &::after {
        content: "";
        background: $primaryPink;
        position: absolute;
        height: 50%;
        width: 110%;
        left: -5%;
        bottom: 0;
        opacity: 0.5;
        z-index: -1;
    }
}

main {
    overflow: hidden;
}

h3 {
    position: relative;
    display: inline-block;
    z-index: 0;
}

.skills {
    text-align: center;
    padding: 5%;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../assets/lineBackground.png);
    background-size: cover;
    background-attachment: fixed;

    @include forTablet {
        background: none;
    }

    .icons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        margin: 50px 0;

        
     .icon {
        padding: 50px;

        @include forTablet {
            padding: 30px;
        }

        @include forPhone {
            padding: 20px;
        }

        &.firebase img {
            margin: 0 auto;

            &:hover {
                transform: scale(1.5);
            }
        }
        i {
            font-size: 6rem;
        }
    }
}
}

.projects {
    h2 {
        text-align: center;
        margin: 40px;
    }

    p {
        margin-bottom: 20px;
    }

    .links {
        background: $navyBackground;
        border: 2px solid $primaryPink;
        padding: 7px 12px;
        border-radius: 25px;
        color: $primaryPink;

        &:hover {
            background: $primaryPink;
            color: $navyBackground;
            border: 2px solid $navyBackground;
        }
    }

    .mockup {
        margin: 50px 0;
    }
}



.mockup {
    width: 100%;
    display: flex;

    @include forTablet {
        flex-wrap: wrap;
    }

    &.reverseSection {
        flex-direction: row-reverse;

        @include forTablet {
            flex-direction: row;
        }
    }
}

.mockupImage, .projectText {
    width: 50%; 
    padding: 20px 50px;

    @include forTablet {
        width: 100%;
    }
}

i {
    display: inline-block;
    &:hover {
        transform: scale(1.25);
    }
}

.about h2 {
    text-align: center;
}

.contact {
    background: $navyBackground;
    text-align: center;
    height: auto;
    color: white;
    padding: 50px;
    display: flex;
    justify-content: space-around;

    h4 {
        margin-top: 15px;
    }

    a {
        display: inline-block;
        width: 100%;
        margin: 10px 0;

        &:hover {
            text-shadow: 1px 1px $primaryPink;
        }
        p {
            display: inline-block;
            margin: 0 5px;
        }
    }

    @include forPhone {
        flex-wrap:wrap;
    }

    .contactInfo {
        width: 30%;

        @include forPhone {
            width: 100%;
            text-align: left;
            margin-bottom: 30px;
        }
    }

    .formSection {
        width:70%;
        @include forPhone {
            width: 100%;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        padding: 10px 50px;
        justify-content: center;
        align-items: center;

        input {
            margin: 5px 0;
            padding: 5px;
            width: 370px;
            border: none;
            border-radius: 2px;
            background: inherit;
            border-bottom: 2px solid white;

            &:focus, &:active {
                color: $navyBackground;
                background: $primaryPink;

                
            }

            &[name="message"] {
                height: 200px;

                &::placeholder {
                    text-align: left;
                }
            }
            &::placeholder {
                color: white;
            }

            &[type="submit"] {
                border: 2px solid $navyBackground;
                color: white;
                &:hover {
                    background: $navyBackground;
                    color: $primaryPink;
                    border: 2px solid $primaryPink;
                }
            }
        }
    }
}

h4 {
    font-weight: bold;
}

[data-aos][data-aos][data-aos-duration="400"], body[data-aos-duration="400"] [data-aos] {
    transition-duration: 1s;
}

footer {
    background: $primaryPink;
    color: $navyBackground;
    padding: 5px 0;
    text-align: center;
}

main {
    padding-top: 75px;
}