.aboutSection {
    display: flex;

    @include forTablet {
        flex-wrap: wrap;
    }

    img {
        border-radius: 50%;
    }

    .aboutImage {
        width: 50%;
        padding: 5%;

        @include forTablet {
            width: 100%;
        }
    }

    .aboutText {
        width: 50%;
        padding: 5%;

        display: flex;
        flex-direction: column;
        justify-content: center;

        @include forTablet {
            width: 100%;
        }
    }
}

.about.wrapper {

    display: flex;
    flex-direction: column;
    align-items: center;
    h2::after {
        background: $primaryPink;
    }
}

h3 {
    font-size:4rem;
}

.projects.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2, h3 {
    position: relative;
    display: inline-block;
    font-family: 'Playfair Display', serif;
    text-transform: lowercase;;
    &::after {
        content: "";
        background: $primaryPink;
        position: absolute;
        height: 50%;
        width: 110%;
        left: -5%;
        bottom: 0;
        opacity: 0.5;
        z-index: -1;
    }
}

main {
    overflow: hidden;
}

h3 {
    position: relative;
    display: inline-block;
    z-index: 0;
}

.projects {

    h4 {
        font-size: 3rem;
    }
    h2 {
        text-align: center;
        margin: 40px;
    }

    p {
        margin-bottom: 20px;
    }

    .links {
        background: $navyBackground;
        border: 2px solid $primaryPink;
        padding: 7px 12px;
        border-radius: 25px;
        color: $primaryPink;

        @include forSmallPhone {
            display: inline-block;
            margin: 5px 0;
        }

        &:hover {
            background: $primaryPink;
            color: $navyBackground;
            border: 2px solid $navyBackground;

            & > i.fa-bolt {
                color: rgb(255, 255, 50);
                animation: bolt 0.5s linear infinite;
                animation-iteration-count: 5;
            }
        }
    }

    .mockup {
        margin: 50px 0;
    }
}

@keyframes bolt {
    from {
        transform: scale(1.8) rotate(25deg);
    }

    to {
        transform: rotate(10deg);
    }

    to {
        transform: rotate(15deg);
    }

    to {
        transform: rotate(0deg);
    }
}



.mockup {
    width: 100%;
    display: flex;

    @include forTablet {
        flex-wrap: wrap;
    }

    &.reverseSection {
        flex-direction: row-reverse;

        @include forTablet {
            flex-direction: row;
        }
    }
}

.mockupImage, .projectText {
    width: 50%; 
    padding: 20px 50px;

    @include forTablet {
        width: 100%;
    }
}

.contact {
    background: $navyBackground;
    text-align: center;
    color: white;
    padding: 50px;
    display: flex;
    justify-content: space-around;

    .devicon-github-plain {
        color: white;
    }

    h4 {
        margin: 45px 0 15px 0;
    }

    a {
        display: inline-block;
        width: 100%;
        margin: 10px 0;

        &:hover {
            text-shadow: 1px 1px $primaryPink;
        }
        p {
            display: inline-block;
            margin: 0 5px;
        }
    }

    @include forSmallTablet {
        flex-wrap:wrap;
    }

    .contactInfo {
        width: 30%;

        h3 {
            text-align: center;
        }

        .social {
            text-align: left;
            padding-left: 5%;
            font-size: 2.5rem;
        }
        

        .social {
            margin: 40px 0;
        }

        @include forSmallTablet {
            width: 100%;
            text-align: left;
            margin-bottom: 30px;
        }
    }

    .formSection {
        width:70%;
        @include forSmallTablet {
            width: 100%;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        padding: 10px 50px;
        justify-content: center;
        align-items: center;

        @include forSmallTablet {
            padding: 0;
        }

        textarea {
            margin: 5px 0;
            padding: 5px;
            width: 370px;
            border: none;
            border-radius: 2px;
            background: inherit;
            resize: none;
            border: 2px solid white;

            @include forSmallTablet {
                width: 100%;
            }

             &:focus, &:active {
                color: $navyBackground;
                background: $primaryPink;   
            }

            &::placeholder {
                color: white;
            }
        }

        input {
            margin: 5px 0;
            padding: 5px;
            width: 370px;
            border: none;
            border-radius: 2px;
            background: inherit;
            border-bottom: 2px solid white;

            @include forSmallTablet {
                width: 100%;
            }

            &:focus, &:active {
                color: $navyBackground;
                background: $primaryPink;   
            }

            &[name="message"] {
                height: 200px;

                &::placeholder {
                    text-align: left;
                }
            }
            &::placeholder {
                color: white;
            }

            &[type="submit"] {
                border: 2px solid $navyBackground;
                color: white;
                border: 2px solid white;
                &:hover {
                    background: $navyBackground;
                    color: $primaryPink;
                    border: 2px solid $primaryPink;
                }
            }
        }
    }
}

h4 {
    font-weight: bold;
}

[data-aos][data-aos][data-aos-duration="400"], body[data-aos-duration="400"] [data-aos] {
    transition-duration: 1s;
}

footer {
    background: $primaryPink;
    color: $navyBackground;
    padding: 5px 0;
    text-align: center;
}

section {
    padding-top: 110px;

    @include forPhone {
        padding-top: 0;
    }
}

h2 {
    font-size: 4rem;
}