.open {
    transition: all 1s ease;
    .fa-times {
        display: block;
        z-index: 1001;
        color: $navyBackground;
        font-size: 5rem;
        background: linear-gradient(rgba(250, 176, 170, 0.9), rgba(250, 176, 170, 0.9));
    }

    .fa-bars {
        display: none;
    }

    &.sidebar {
        display: block;
            transition: 1s ease;

    }
}