.open {
    transition: all 1s ease;
    .fa-times {
        display: block;
        z-index: 3000;
        position: absolute;
        color: $navyBackground;
        font-size: 5rem;
    }

    .bar1 {
        transform: rotate(-45deg) translate(-9px, 7px);
        background-color: $primaryPink;
    }

    .bar3 {
        transform: rotate(45deg) translate(-8px, -7px);
        background-color:$primaryPink;
    }

    .bar2 {
        opacity: 0;
    }

    .fa-bars {
        display: none;
    }

    &.sidebar {
        display: block;
        transition: 1s ease;

        nav {
            height: 100%;
            transition: height 1s ease-in-out;
        }

    }
}

.buttonContainer {
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 20000;
    width: 75px;
    height: 75px;



    button {
        position: relative;
        background-color: $primaryPink;
        border-radius: 50%;
        padding: 10px;

        &.open {
            background-color: $navyBackground;
        }

        div {
            width: 35px;
            height: 5px;
            background-color: $navyBackground;
            margin: 6px 0;
            border-radius: 2px;
            transition: 1s ease;
        }

    }
}