.blueCircle {
    position: absolute;
    animation: circlesBottom 10s linear infinite;
}

// @keyframes circlesBottom {
// from {
//         bottom: 0;
//         left: 0;
//     }

//     to {
//         bottom: 50%;
//         left: 50%;
//     }

//     to {
//         bottom: 20%;
//         left: 20%;
//     }
// }

@keyframes circles {
    from {
            top: 0;
            left: 0;
        }
    
        to {
            top: 20%;
            left: 20%;
        }
    
        to {
            top: 50%;
            left: 50%;
        }
    
        to {
            top: 20%;
            left: 20%;
        }
    }
    
// @keyframes circlesAlternate {
//     from {
//         top: 0;
//         right: 0;
//     }

//     to {
//         top: 25%;
//         right: 25%;
//     }

//     to {
//         top: 50%;
//         right: 50%;
//     }

//     to {
//         top: 70%;
//         right: 70%;
//     }

//     to {
//         top: 50%;
//         right: 50%;
//     }

//     to {
//         top: 20%;
//         right: 20%;
//     }
// }

.purpleCircle {
    position: absolute;
    animation: circlesAlternate 20s linear infinite;
}
.smallGreenCircle {
    position: absolute;
    animation: circles 10s linear infinite;
}
.pinkCircle {
    position: absolute;
    animation: circles 10s linear infinite;

}
.orangeCircle {
    position:absolute;
    animation: circles 20s linear infinite;

}
.bigGreenCircle {
    position: absolute;
    animation: circlesAlternate 12s linear infinite;

}

svg {
    display: none;
}