article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p, body, ul, li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  font-family: 'Lato', sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  max-width: 1500px;
  width: 85%;
  margin: 0 auto;
}

header {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

header h1 {
  text-align: center;
  font-size: 8rem;
  font-family: 'Lobster', cursive;
}

header h3 {
  text-align: center;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + .sidebar nav {
  right: 0;
  display: block;
}

nav {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 30%;
  background: black;
  color: white;
  position: absolute;
  right: -30%;
  display: none;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav ul li {
  padding: 10px;
}

nav ul li:hover {
  background: #fab0aa;
}

.fas.fa-bars:active + nav {
  display: block;
}

.headerContainer {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.5)));
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
}

.wave {
  display: inline-block;
  -webkit-animation: wave 2s linear 5;
          animation: wave 2s linear 5;
}

@-webkit-keyframes wave {
  from {
    -webkit-transform: none;
            transform: none;
  }
  to {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes wave {
  from {
    -webkit-transform: none;
            transform: none;
  }
  to {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

.aboutSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutSection img {
  border-radius: 50%;
}

.aboutSection .aboutImage {
  width: 50%;
  padding: 5%;
}

.aboutSection .aboutText {
  width: 50%;
  padding: 5%;
}

.about.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about.wrapper h2::after {
  background: #fab0aa;
}

.projects.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h2, h3 {
  position: relative;
  display: inline-block;
  font-family: 'Playfair Display', serif;
  text-transform: lowercase;
}

h2::after, h3::after {
  content: "";
  background: #fab0aa;
  position: absolute;
  height: 50%;
  width: 110%;
  left: -5%;
  bottom: 0;
  opacity: 0.5;
  z-index: -1;
}

.skills {
  text-align: center;
  padding: 5%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.5))), url(../assets/lineBackground.png);
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../assets/lineBackground.png);
  background-size: cover;
  background-attachment: fixed;
}

.skills .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0;
}

.skills .icons .icon {
  padding: 50px;
}

.skills .icons .icon i {
  font-size: 6rem;
}

.projects h2 {
  text-align: center;
  margin: 40px;
}

.projects p {
  margin-bottom: 20px;
}

.projects a {
  background: gray;
  border: 2px solid black;
  padding: 5px 10px;
  border-radius: 2px;
}

.projects a:hover {
  background: black;
  color: white;
  border: 2px solid gray;
}

.blueCircle {
  position: absolute;
  -webkit-animation: circlesBottom 10s linear infinite;
          animation: circlesBottom 10s linear infinite;
}

@-webkit-keyframes circlesBottom {
  from {
    bottom: 0;
    left: 0;
  }
  to {
    bottom: 50%;
    left: 50%;
  }
  to {
    top: 0;
    right: 0;
  }
}

@keyframes circlesBottom {
  from {
    bottom: 0;
    left: 0;
  }
  to {
    bottom: 50%;
    left: 50%;
  }
  to {
    top: 0;
    right: 0;
  }
}

@-webkit-keyframes circles {
  from {
    top: 0;
    left: 0;
  }
  to {
    top: 50%;
    left: 50%;
  }
  to {
    bottom: 0;
    right: 0;
  }
}

@keyframes circles {
  from {
    top: 0;
    left: 0;
  }
  to {
    top: 50%;
    left: 50%;
  }
  to {
    bottom: 0;
    right: 0;
  }
}

@-webkit-keyframes circlesAlternate {
  from {
    top: 0;
    right: 0;
  }
  to {
    top: 25%;
    right: 25%;
  }
  to {
    top: 50%;
    right: 50%;
  }
  to {
    top: 70%;
    right: 70%;
  }
  to {
    bottom: 0;
    left: 0;
  }
}

@keyframes circlesAlternate {
  from {
    top: 0;
    right: 0;
  }
  to {
    top: 25%;
    right: 25%;
  }
  to {
    top: 50%;
    right: 50%;
  }
  to {
    top: 70%;
    right: 70%;
  }
  to {
    bottom: 0;
    left: 0;
  }
}

.purpleCircle {
  position: absolute;
  -webkit-animation: circlesAlternate 20s linear infinite;
          animation: circlesAlternate 20s linear infinite;
}

.smallGreenCircle {
  position: absolute;
  -webkit-animation: circles 10s linear infinite;
          animation: circles 10s linear infinite;
}

.pinkCircle {
  position: absolute;
  -webkit-animation: circles 10s linear infinite;
          animation: circles 10s linear infinite;
}

.orangeCircle {
  position: absolute;
  -webkit-animation: circles 20s linear infinite;
          animation: circles 20s linear infinite;
}

.bigGreenCircle {
  position: absolute;
  -webkit-animation: circlesAlternate 12s linear infinite;
          animation: circlesAlternate 12s linear infinite;
}

.mockup {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mockupImage, .projectText {
  width: 45%;
}

i {
  display: inline-block;
}

i:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  text-shadow: goldenrod 1px 1px;
}

.about h2 {
  text-align: center;
}

.contact {
  background: #1f2041;
  text-align: center;
  height: auto;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact .contactInfo {
  width: 30%;
}

.contact .formSection {
  width: 70%;
}

.contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact form input {
  margin: 5px 0;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background: #fab0aa;
}

.contact form input[name="message"] {
  height: 200px;
}

.contact form input[name="message"]::-webkit-input-placeholder {
  text-align: left;
}

.contact form input[name="message"]:-ms-input-placeholder {
  text-align: left;
}

.contact form input[name="message"]::-ms-input-placeholder {
  text-align: left;
}

.contact form input[name="message"]::placeholder {
  text-align: left;
}

.contact form input::-webkit-input-placeholder {
  color: #1f2041;
}

.contact form input:-ms-input-placeholder {
  color: #1f2041;
}

.contact form input::-ms-input-placeholder {
  color: #1f2041;
}

.contact form input::placeholder {
  color: #1f2041;
}

.contact form input[type="submit"] {
  border: 2px solid #1f2041;
}

.contact form input[type="submit"]:hover {
  background: #1f2041;
  color: #fab0aa;
  border: 2px solid #fab0aa;
}

.fas.fa-bars {
  color: #fab0aa;
  position: absolute;
  font-size: 5rem;
  top: 0;
  right: 0;
  z-index: 1;
}
