article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p, body, ul, li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 2rem;
  font-family: 'Lato', sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  max-width: 1500px;
  width: 85%;
  margin: 0 auto;
}

@media (max-width: 599px) {
  .wrapper {
    width: 95%;
  }
}

@media (max-width: 450px) {
  .wrapper {
    width: 100%;
  }
}

.wrapperContainer {
  max-width: 1600px;
  margin: 0 auto;
}

header {
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.5))), url(../assets/circle3.png);
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../assets/circle3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

header h1 {
  text-align: center;
  font-size: 8rem;
  font-family: 'Montserrat', cursive;
}

@media (max-width: 599px) {
  header h1 {
    font-size: 6rem;
  }
}

header h3 {
  text-align: center;
}

.fas.fa-bars {
  z-index: 2;
  display: none;
}

input[type="checkbox"] {
  display: none;
}

@media (max-width: 599px) {
  .sidebar {
    display: none;
  }
}

button {
  display: none;
  border: none;
  right: 5px;
  top: 5px;
  position: fixed;
  background: inherit;
  padding: 0px;
}

button i {
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

@media (max-width: 599px) {
  button {
    display: block;
    z-index: 1001;
  }
  button .fa-times {
    display: none;
  }
}

button .fa-times {
  display: none;
}

nav {
  color: #1f2041;
  position: fixed;
  width: 100%;
  background: #fab0aa;
  z-index: 1000;
  margin: 0 auto;
  max-width: 1600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 599px) {
  nav {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(250, 176, 170, 0.9)), to(rgba(250, 176, 170, 0.9)));
    background: linear-gradient(rgba(250, 176, 170, 0.9), rgba(250, 176, 170, 0.9));
  }
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
}

@media (max-width: 599px) {
  nav ul {
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 28px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

nav ul li a:hover, nav ul li a:focus, nav ul li a:active {
  background: #1f2041;
  color: #fab0aa;
  border-radius: 5px;
}

.headerContainer {
  color: #1f2041;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 10px;
}

.headerContainer h4 {
  font-family: "Playfair Display", cursive;
  font-size: 3.3rem;
}

.fas.fa-bars {
  color: #fab0aa;
  position: absolute;
  font-size: 5rem;
  top: 5px;
  right: 5px;
  z-index: 1;
  position: fixed;
}

@media (max-width: 599px) {
  .fas.fa-bars {
    display: block;
  }
}

.aboutSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 900px) {
  .aboutSection {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.aboutSection img {
  border-radius: 50%;
}

.aboutSection .aboutImage {
  width: 50%;
  padding: 5%;
}

@media (max-width: 900px) {
  .aboutSection .aboutImage {
    width: 100%;
  }
}

.aboutSection .aboutText {
  width: 50%;
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 900px) {
  .aboutSection .aboutText {
    width: 100%;
  }
}

.about.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about.wrapper h2::after {
  background: #fab0aa;
}

h3 {
  font-size: 4rem;
}

.projects.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h2, h3 {
  position: relative;
  display: inline-block;
  font-family: 'Playfair Display', serif;
  text-transform: lowercase;
}

h2::after, h3::after {
  content: "";
  background: #fab0aa;
  position: absolute;
  height: 50%;
  width: 110%;
  left: -5%;
  bottom: 0;
  opacity: 0.5;
  z-index: -1;
}

main {
  overflow: hidden;
}

h3 {
  position: relative;
  display: inline-block;
  z-index: 0;
}

.projects h4 {
  font-size: 3rem;
}

.projects h2 {
  text-align: center;
  margin: 40px;
}

.projects p {
  margin: 30px 0;
}

.projects .links {
  background: #1f2041;
  border: 2px solid #fab0aa;
  padding: 7px 12px;
  border-radius: 25px;
  color: #fab0aa;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 450px) {
  .projects .links {
    display: inline-block;
    margin: 5px 0;
  }
}

.projects .links:hover, .projects .links:focus, .projects .links:active {
  background: #fab0aa;
  color: #1f2041;
  border: 2px solid #1f2041;
}

.projects .links:hover > i.fa-bolt, .projects .links:focus > i.fa-bolt, .projects .links:active > i.fa-bolt {
  color: #ffff32;
  -webkit-animation: bolt 0.5s linear infinite;
          animation: bolt 0.5s linear infinite;
  -webkit-animation-iteration-count: 5;
          animation-iteration-count: 5;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.projects .mockup {
  margin: 50px 0;
}

@-webkit-keyframes bolt {
  from {
    -webkit-transform: scale(1.8) rotate(25deg);
            transform: scale(1.8) rotate(25deg);
  }
  to {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  to {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes bolt {
  from {
    -webkit-transform: scale(1.8) rotate(25deg);
            transform: scale(1.8) rotate(25deg);
  }
  to {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  to {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.mockup {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 900px) {
  .mockup {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.mockup.reverseSection {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 900px) {
  .mockup.reverseSection {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.mockupImage, .projectText {
  width: 50%;
  padding: 20px 50px;
}

@media (max-width: 900px) {
  .mockupImage, .projectText {
    width: 100%;
  }
}

.contact {
  background: #1f2041;
  text-align: center;
  color: white;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact .devicon-github-plain {
  color: white;
}

.contact h4 {
  margin: 45px 0 15px 0;
}

.contact a {
  display: inline-block;
  width: 100%;
  margin: 10px 0;
}

.contact a:hover {
  text-shadow: 1px 1px #fab0aa;
}

.contact a p {
  display: inline-block;
  margin: 0 5px;
}

@media (max-width: 750px) {
  .contact {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.contact .contactInfo {
  width: 50%;
}

.contact .contactInfo h3 {
  text-align: center;
}

.contact .contactInfo .social {
  text-align: left;
  padding-left: 5%;
  font-size: 2.5rem;
}

.contact .contactInfo .social {
  margin: 40px 0;
}

@media (max-width: 750px) {
  .contact .contactInfo {
    width: 100%;
    text-align: left;
    margin-bottom: 30px;
  }
}

.contact .formSection {
  width: 50%;
}

@media (max-width: 750px) {
  .contact .formSection {
    width: 100%;
  }
}

.contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 750px) {
  .contact form {
    padding: 0;
  }
}

.contact form textarea {
  margin: 5px 0;
  padding: 5px;
  width: 370px;
  color: white;
  border: none;
  border-radius: 2px;
  background: inherit;
  resize: none;
  border: 2px solid white;
}

@media (max-width: 750px) {
  .contact form textarea {
    width: 100%;
  }
}

.contact form textarea:focus, .contact form textarea:active {
  color: #1f2041;
  background: #fab0aa;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.contact form textarea::-webkit-input-placeholder {
  color: white;
}

.contact form textarea:-ms-input-placeholder {
  color: white;
}

.contact form textarea::-ms-input-placeholder {
  color: white;
}

.contact form textarea::placeholder {
  color: white;
}

.contact form input {
  margin: 5px 0;
  padding: 5px;
  width: 370px;
  color: white;
  border: none;
  border-radius: 2px;
  background: inherit;
  border-bottom: 2px solid white;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

@media (max-width: 750px) {
  .contact form input {
    width: 100%;
  }
}

.contact form input:focus, .contact form input:active {
  color: #1f2041;
  background: #fab0aa;
}

.contact form input[name="message"] {
  height: 200px;
}

.contact form input[name="message"]::-webkit-input-placeholder {
  text-align: left;
}

.contact form input[name="message"]:-ms-input-placeholder {
  text-align: left;
}

.contact form input[name="message"]::-ms-input-placeholder {
  text-align: left;
}

.contact form input[name="message"]::placeholder {
  text-align: left;
}

.contact form input::-webkit-input-placeholder {
  color: white;
}

.contact form input:-ms-input-placeholder {
  color: white;
}

.contact form input::-ms-input-placeholder {
  color: white;
}

.contact form input::placeholder {
  color: white;
}

.contact form input[type="submit"] {
  border: 2px solid #1f2041;
  color: white;
  border: 2px solid white;
}

.contact form input[type="submit"]:hover {
  background: #1f2041;
  color: #fab0aa;
  border: 2px solid #fab0aa;
}

h4 {
  font-weight: bold;
}

[data-aos][data-aos][data-aos-duration="400"], body[data-aos-duration="400"] [data-aos] {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

footer {
  background: #fab0aa;
  color: #1f2041;
  padding: 5px 0;
  text-align: center;
}

section {
  padding-top: 110px;
}

@media (max-width: 599px) {
  section {
    padding-top: 0;
  }
}

h2 {
  font-size: 4rem;
}

.blueCircle {
  position: absolute;
  -webkit-animation: circlesBottom 10s linear infinite;
          animation: circlesBottom 10s linear infinite;
}

@-webkit-keyframes circles {
  from {
    top: 0;
    left: 0;
  }
  to {
    top: 20%;
    left: 20%;
  }
  to {
    top: 50%;
    left: 50%;
  }
  to {
    top: 20%;
    left: 20%;
  }
}

@keyframes circles {
  from {
    top: 0;
    left: 0;
  }
  to {
    top: 20%;
    left: 20%;
  }
  to {
    top: 50%;
    left: 50%;
  }
  to {
    top: 20%;
    left: 20%;
  }
}

.purpleCircle {
  position: absolute;
  -webkit-animation: circlesAlternate 20s linear infinite;
          animation: circlesAlternate 20s linear infinite;
}

.smallGreenCircle {
  position: absolute;
  -webkit-animation: circles 10s linear infinite;
          animation: circles 10s linear infinite;
}

.pinkCircle {
  position: absolute;
  -webkit-animation: circles 10s linear infinite;
          animation: circles 10s linear infinite;
}

.orangeCircle {
  position: absolute;
  -webkit-animation: circles 20s linear infinite;
          animation: circles 20s linear infinite;
}

.bigGreenCircle {
  position: absolute;
  -webkit-animation: circlesAlternate 12s linear infinite;
          animation: circlesAlternate 12s linear infinite;
}

svg {
  display: none;
}

.skills {
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.4)), to(rgba(255, 255, 255, 0.4))), url(../assets/lineBackground.png);
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(../assets/lineBackground.png);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.skills i {
  display: inline-block;
}

@media (max-width: 900px) {
  .skills {
    background: none;
  }
}

.skills .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.skills .icons .icon {
  padding: 50px;
}

@media (max-width: 900px) {
  .skills .icons .icon {
    padding: 30px;
  }
}

@media (max-width: 599px) {
  .skills .icons .icon {
    padding: 20px;
  }
}

@media (max-width: 450px) {
  .skills .icons .icon {
    padding: 10px;
  }
}

.skills .icons .icon.firebase img {
  margin: 0 auto;
}

.skills .icons .icon i {
  font-size: 6rem;
}

.javascript i {
  color: #ffca28;
}

.react i {
  color: #5bdcfb;
}

.open {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.open .fa-times {
  display: block;
  z-index: 1001;
  color: #1f2041;
  font-size: 5rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(250, 176, 170, 0.9)), to(rgba(250, 176, 170, 0.9)));
  background: linear-gradient(rgba(250, 176, 170, 0.9), rgba(250, 176, 170, 0.9));
}

.open .fa-bars {
  display: none;
}

.open.sidebar {
  display: block;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}
